* {
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  font-size: 14px;
}

.App {
}

.darkTheme {
  background-color: rgb(10, 10, 47);
}

.darkTheme h1 {
  color: white;
}

.darkTheme section {
  background-color: darkblue;
  color: white;
}

.training {
  padding: 12px;
}

section {
  padding: 12px;
  background-color: #fafafa;
  margin-bottom: 12px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: 0.1s all ease;
}

section.open {
  filter: brightness(1.2);
}

section.open h2 {
  color: red;
}

.darkTheme section.open h2 {
  color: yellow;
}

section button {
  /* border: 1px solid red; */
  position: absolute;
  height: 40px;
  width: 40px;
  top: 3px;
  right: 4px;
  padding: 6px;
  border: 0;
  border-radius: 6px;
  background-color: transparent;
  transition: 0.1s all ease;
  color: red;
}

.darkTheme section button {
  color: yellow;
}

section:hover {
  cursor: pointer;
}

section.closed article {
  max-height: 0;
  opacity: 0;
  margin: 0;
}

section.closed button {
  transform: rotate(-90deg);
  color: black;
}

article {
  margin-top: 9px;
  max-height: 1000px;
  transition: 0.1s all ease;
  opacity: 1;
}

section p {
  line-height: 1.2em;
  margin-bottom: 9px;
}

section p:last-of-type {
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 3px;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

code {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  color: red;
  font-family: "Lucida Console", monospace;
  font-weight: 400;
}

.darkTheme code {
  color: lime;
}

strong {
  color: red;
  font-family: "Lucida Console", monospace !important;
  font-weight: 100;
  margin: 0px 6px;
}

a {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 3px;
  padding-top: 6px;
  border-radius: 6px;
  margin-bottom: 6px;
  display: block;
  max-width: 60px;
  text-align: center;
}

.Finance {
  padding: 12px;
}

.coins {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6px;
}

.coin {
  padding: 6px;
  background-color: #fafafa;
}

.searchWrapper {
  width: 100%;
  margin-bottom: 12px;
}

.searchWrapper input {
  width: 100%;
  padding: 6px;
}

.symbol {
  font-weight: 800;
}

.Zelda {
  padding-top: 18px;
}
.monsters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  padding: 6px;
}
.monster {
  padding: 12px;
  border-radius: 6px;
}

.picture {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  margin: auto;
  border-radius: 12px;
}

.name {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.desc {
  margin-top: 12px;
  font-size: 12px;
}

.themeToggle {
  width: 50px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 3px;
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 500px;
  background-color: #dadada;
}

.themeToggle button {
  height: 20px;
  border: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 500px;
  background-color: transparent;
}

.themeToggle button .indicator {
  width: 20px;
  height: 20px;
  border-radius: 500px;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s all;
  font-size: 10px;
}

.themeToggle button .indicator span {
  display: block;
  font-weight: 800;
}

.themeToggle button.on .indicator {
  left: calc(100% - 20px);
}

.themeToggle button.off .indicator {
  left: calc(0% + 60px);
}

.themeToggle button.on .indicator {
  background-color: orange;
  right: 0;
}

.themeToggle button.off .indicator {
  background-color: darkblue;
  left: 0;
}

.themeToggle button.off .indicator span {
  color: white;
}
